
#registration {
  margin-top: 30px;
  margin-left: 25px;
  width: 450px;
  line-height: 40px;
}
#regpage { /* стили для страницы регистрации */
  position:absolute;
  top:50%;
  left:50%;
  width:500px;
  margin-left: -250px;
  margin-top: -300px;
  -webkit-box-shadow:0 0 30px #666;
    -moz-box-shadow:0 0 30px #666;
    box-shadow:0 0 30px #666;
    -webkit-border-radius:15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    border-radius:15px 15px 15px 15px;
    -khtml-border-radius:15px 15px 15px 15px;
}
#regbutton {
  margin-top: 15px;
  height:60;
  width: 250;
  background: linear-gradient(to top, #66ffff , #00cccc );
  color: #006666;
  text-shadow: 0 0 4px rgba(0,0,0,0.3);
  border-color:#00ffff;
  font-size: 20;
  -webkit-border-radius:35px 35px 35px 35px;
  -moz-border-radius:35px 35px 35px 35px;
  border-radius:35px 35px 35px 35px;
  -khtml-border-radius:35px 35px 35px 35px;
  }